/* Configuración General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

/* Encabezado */
header {
    background: #fff159; /* Amarillo Mercado Libre */
    color: #2d3277;    /* Azul Mercado Libre */
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e6e6e6 1px solid;
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

/* Secciones */
section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    color: #2d3277;
    border-bottom: 2px solid #fff159;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}